[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/alvanrahimli/hugo-theme-terminal.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/alvanrahimli/Mainroad.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
