[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/alvanrahimli/hugo-theme-terminal.git
[submodule "Mainroad"]
	path = Mainroad
	url = https://github.com/alvanrahimli/Mainroad.git
